fastapi==0.115.0
uvicorn==0.32.0
crewai==0.28.8
pydantic==2.4.2
pymongo==4.8.0
python-multipart==0.0.12
torch==2.1.0
torchvision==0.16.0
ftfy==6.1.1
regex>=2023.12.25,<2024.0.0
tqdm==4.66.1
git+https://github.com/openai/CLIP.git
pillow==10.0.1
matplotlib==3.8.0
pytesseract==0.3.10
easyocr==1.7.1
transformers==4.35.0
requests==2.31.0
opencv-python==4.8.1.78
numpy==1.24.3